

<select ng-model="selectedMode" ng-options="mode as mode.label for mode in selectMode"  ng-change="change()"></select>
<select ng-model="selectedDigit" ng-options="digit as digit.label for digit in selectDigit" ng-change="change()"></select>

<table style="margin:1em;">
    <tr><th colspan="2">もんだい</th><th>こたえ</th><th>せいかい</th></tr>
    <tr ng-repeat="data in list">
        <td style="text-align:right">{{data.question}}</td>
        <td style="padding:0 1em 0 1em"> = </td>
        <td><input type="number" ng-model="data.inputAnswer" style="width:6em;"></td>
        <td style="text-align:right" ng-show="answerShowFlug">{{data.answer}} {{data.correctMsg}}</td>
    </tr>
    <tr ng-show="answerShowFlug"><th colspan="4" style="text-align:right">{{score}} てん</th></tr>
</table>

<button ng-click="showAnswer()">せいかいを 見る</button>

<button ng-click="change()">もんだいを つくりなおす</button>
